//main, aside, y footer

main {
    background-color: $blancoback;
    grid-area: main;
    @include espacio(0%,0%)
}
main img {
    width: 100%;
}

p {
    @include font (Oswald, center, italic)
    font-size: map-get($textos:normal);  
    margin: 40px;
}
h1 {
    @include font (Oswald, center, italic); 
    font-size: map-get($textos: dos);  
    font-weight:bolder; 
}
h2 {
    @include font (Oswald, center, italic)
    font-size: map-get($textos: tres); 
    font-weight: bold; 
}
h3 {
    @include font (Oswald, center ,none)
    font-size: map-get($textos: cuatro); 
}
.todo-items {
    background-color:$blancoback;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.todo-items {
    &__nosotros {
        background-color:$verderaroitems;
        width: 600px;
        border-radius: 200px;
        margin-bottom: 20px;
        margin-right: 10px;
        font-size: map-get($textos:normal);
        &__banner {
            width: 400px;
            border-radius: 150px;
        }
    }
    &__asesoria {
            background-color:$verderaroitems;
            width: 600px;
            border-radius: 200px;
            margin-bottom: 20px;
            margin-right: 10px;
            font-size: map-get($textos:normal);
            &__banner {
                width: 400px;
                border-radius: 150px;
            }
    }
    &__actualidad {
        background-color:$verderaroitems;
        width: 600px;
        border-radius: 200px;
        margin-bottom: 20px;
        margin-right: 10px;
        font-size: map-get($textos:normal);
        &__banner {
            width: 400px;
            border-radius: 150px;
        }
    }
    &__experiencias {
            background-color:$verderaroitems;
            width: 600px;
            border-radius: 200px;
            margin-bottom: 20px;
            margin-right: 10px;
            font-size: map-get($textos:normal);
            &__banner {
                width: 400px;
                border-radius: 150px;
            }
        }
    }

.list-servicios {
      list-style: none;
     text-align:left;
     color: $negro;
 }
    
    aside {
    grid-area: aside;
}
footer {
    background-color:$verdeoscuroback;
    grid-area: footer;
}
footer img {
    width: 100px;
}
.derechos {
    @include font (Oswald, left, none)
    font-size: map-get($textos: cuatro );
    color:$blancoback;
    
}
.tyc {
    list-style: none; 
    text-align: right;
    color: $blancoback;
    font-size: map-get($textos: cuatro);
}

.iconos-servicios {
    width: 100%;
    padding: 70px 30px 20px;
}

.serviceIcons {
    display: flex;
    justify-content: center;
}

.serviceIcons a{
    text-decoration: none;
    background-color: $blancoback;
    border-radius: 100%;
    @include espacio(50px, 50px)
}

.serviceIcons a i{
    font-size: 8em;
    color: $icons ;
    opacity: 0.9;
}

.serviceIcons a:hover{
    background-color:$hovericons;
    transition: 0.5s;
}

.serviceIcons a:hover i{
    color: $hovericons2;
    transition: 0.5s;
}

.social-media {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    background-color: $blancoback;
    border-radius: 50%;
    @include espacio(10px, 10px)
}

.socialIcons a i{
    font-size: 2em;
    color: $icons ;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: $hovericons;
    transition: 0.3s;
}

.socialIcons a:hover i{
    color: $hovericons2;
    transition: 0.3s;
}
