//media qr

@media (max-width: 576px) {
    .grid-container {
        grid-template-columns: 1fr;
    grid-template-rows: 100px none 0.5fr 100px;
    grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer"
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.4fr 0.1fr 0.2;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "aside aside aside aside"
    "footer footer footer footer"
    }
}

@media (max-width: 1200px) {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.2fr 0.4fr 0.1fr 0.2;
      grid-template-areas: 
      "header header header header" 
      "main main main main" 
      "aside aside aside aside" 
      "footer footer footer footer";
    }
  }