
//titulo
$titulo-principal: "Oswald", sans-serif;
$titulo-principal-size: 12px;


//colores
$verdeoscuroback:  #0F3D06;
$blancoback:  #F7F5EA;
$verderaroitems:  #87B778;
$verdeclarohover: #3de00b;



//tamaños