
//titulo
$titulo-principal: "Oswald", sans-serif;
$titulo-principal-size: 12px;


//colores
$verdeoscuroback:  #0F3D06;
$blancoback:  #F7F5EA;
$verderaroitems:  #87B778;
$verdeclarohover: #3de00b;
$gradient1: #031900;
$gradient2: #0c4d01;
$gradient3: #2abe00;
$icons: #013d04;
$hovericons: #002702;
$hovericons2:  #d4ffc7;
$negro: #000000;



//mapa
$textos{
    principal: $titulo-principal-size;
    dos: 40px;
    tres: 25px;
    cuatro: 15px;
    normal: 20px;
}

$grid-breakpoints: {
  sm: 576px;
  md: 768px;
  lg: 992px;
}